.main {
  background-color: #f4f4f4;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.container {
  background-color: #fff;
  flex-grow: 1;
  margin-inline: auto;
  width: 61.8%;
}

.header,
.footer {
  background-color: #141414;
  color: #ffffff99;
  height: 72px;
}

.header {
}

.footer {
}
